# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Node / Vite
node_modules/
dist/
dist-ssr/
.vite/
.vercel
package-lock.json

# Environment
.env
.env.*
!.env.example
serviceAccountKey.json

# OS
.DS_Store
Thumbs.db

# Project Specific
antigo/node_modules/
antigo/dist/
antigo/.vite/
