@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FFFFFF;
    color: #111111;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
  }
}

.book-shadow {
  box-shadow: 15px 15px 30px rgba(0,0,0,0.08), -1px 0 4px rgba(0,0,0,0.02);
}

.paper-texture {
  background-image: url('https://www.transparenttextures.com/patterns/natural-paper.png');
}

::selection {
  background-color: #C5A059;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F9F9F9;
}

::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}
